# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Local env files
.env
.env.*

# MacOS
.DS_Store

# System files
Thumbs.db
images/_Screenshot from 2025-08-23 10-24-12.png
images/_Screenshot from 2025-08-23 10-24-54.png
images/_Screenshot from 2025-08-23 11-27-32.png
images/_Screenshot from 2025-08-23 11-28-01.png
images/_Screenshot from 2025-08-23 11-28-18.png
images/_Screenshot from 2025-08-23 11-31-06.png
images/_Screenshot from 2025-08-23 11-31-20.png
images/_Screenshot from 2025-08-23 11-31-44.png
images/_Screenshot from 2025-08-23 11-32-41.png
images/_Screenshot from 2025-08-23 11-34-27.png
images/_Screenshot from 2025-08-23 11-34-46.png
images/_Screenshot from 2025-08-23 11-35-05.png
images/_Screenshot from 2025-08-23 11-35-37.png
images/_Screenshot from 2025-08-23 11-36-01.png
images/_Screenshot from 2025-08-23 11-36-43.png
images/Screenshot from 2025-08-23 10-24-12.png
images/Screenshot from 2025-08-23 10-24-54.png
images/Screenshot from 2025-08-23 11-27-32.png
images/Screenshot from 2025-08-23 11-28-01.png
images/Screenshot from 2025-08-23 11-28-18.png
images/Screenshot from 2025-08-23 11-31-06.png
images/Screenshot from 2025-08-23 11-31-20.png
images/Screenshot from 2025-08-23 11-31-44.png
images/Screenshot from 2025-08-23 11-32-41.png
images/Screenshot from 2025-08-23 11-34-27.png
images/Screenshot from 2025-08-23 11-34-46.png
images/Screenshot from 2025-08-23 11-35-05.png
images/Screenshot from 2025-08-23 11-35-37.png
images/Screenshot from 2025-08-23 11-36-01.png
images/Screenshot from 2025-08-23 11-36-43.png
images/processed/Screenshot from 2025-08-23 10-24-12_170.png
images/processed/Screenshot from 2025-08-23 10-24-12_171.png
images/processed/Screenshot from 2025-08-23 10-24-12_172.png
images/processed/Screenshot from 2025-08-23 10-24-12_175.png
images/processed/Screenshot from 2025-08-23 10-24-54_170.png
images/processed/Screenshot from 2025-08-23 10-24-54_171.png
images/processed/Screenshot from 2025-08-23 10-24-54_172.png
images/processed/Screenshot from 2025-08-23 10-24-54_175.png
images/processed/Screenshot from 2025-08-23 11-27-32_170.png
images/processed/Screenshot from 2025-08-23 11-27-32_171.png
images/processed/Screenshot from 2025-08-23 11-27-32_172.png
images/processed/Screenshot from 2025-08-23 11-27-32_175.png
images/processed/Screenshot from 2025-08-23 11-28-01_170.png
images/processed/Screenshot from 2025-08-23 11-28-01_171.png
images/processed/Screenshot from 2025-08-23 11-28-01_175.png
images/processed/Screenshot from 2025-08-23 11-28-18_170.png
images/processed/Screenshot from 2025-08-23 11-28-18_171.png
images/processed/Screenshot from 2025-08-23 11-28-18_175.png
images/processed/Screenshot from 2025-08-23 11-31-06_170.png
images/processed/Screenshot from 2025-08-23 11-31-06_171.png
images/processed/Screenshot from 2025-08-23 11-31-06_175.png
images/processed/Screenshot from 2025-08-23 11-31-20_170.png
images/processed/Screenshot from 2025-08-23 11-31-20_171.png
images/processed/Screenshot from 2025-08-23 11-31-20_175.png
images/processed/Screenshot from 2025-08-23 11-31-44_170.png
images/processed/Screenshot from 2025-08-23 11-31-44_171.png
images/processed/Screenshot from 2025-08-23 11-31-44_175.png
images/processed/Screenshot from 2025-08-23 11-32-41_170.png
images/processed/Screenshot from 2025-08-23 11-32-41_171.png
images/processed/Screenshot from 2025-08-23 11-32-41_175.png
images/processed/Screenshot from 2025-08-23 11-34-27_170.png
images/processed/Screenshot from 2025-08-23 11-34-27_171.png
images/processed/Screenshot from 2025-08-23 11-34-27_175.png
images/processed/Screenshot from 2025-08-23 11-34-46_170.png
images/processed/Screenshot from 2025-08-23 11-34-46_171.png
images/processed/Screenshot from 2025-08-23 11-34-46_175.png
images/processed/Screenshot from 2025-08-23 11-35-05_170.png
images/processed/Screenshot from 2025-08-23 11-35-05_171.png
images/processed/Screenshot from 2025-08-23 11-35-05_175.png
images/processed/Screenshot from 2025-08-23 11-35-37_170.png
images/processed/Screenshot from 2025-08-23 11-35-37_171.png
images/processed/Screenshot from 2025-08-23 11-35-37_175.png
images/processed/Screenshot from 2025-08-23 11-36-01_170.png
images/processed/Screenshot from 2025-08-23 11-36-01_171.png
images/processed/Screenshot from 2025-08-23 11-36-01_175.png
images/processed/Screenshot from 2025-08-23 11-36-43_170.png
images/processed/Screenshot from 2025-08-23 11-36-43_171.png
images/processed/Screenshot from 2025-08-23 11-36-43_175.png
